/*Estilo da Bridge-----------------------------------------------------*/

header{
background-color: #9795A0;
border-style:inherit;
border-radius:30px;
}

body{
background-color: #989BA0;
}

img{
text-align: center;  
}




/*DIVs-------------------------------------------------------------------*/
.header-conteudo{
background-color: #BB2A2F;
border-radius: 30px;
}

.divide{
display: grid;
grid-template-columns: 1fr 1fr;
}

.logo{
width:fit-content;
text-align: center;
}
